@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 236, 236);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: .5s ease all;
}

#logo {
    margin-right: 220px;
    margin-left: 120px;
    font-size: 30px;
    color: white;
}

#subtn {
    margin-left: 200px;
    cursor: pointer;
}

.home {
    background-image: url(https://images.unsplash.com/photo-1597839219216-a773cb2473e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.content {
    display: inline-block;
    /* border: 1px solid white; */
    position: absolute;
    bottom: 170px;
    left: 100px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: white;
}

.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient( to left, hsl(340deg 100% 16%) 0%, hsl(340deg 100% 32%) 8%, hsl(340deg 100% 32%) 92%, hsl(340deg 100% 16%) 100%);
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}

.about {
    background-color: #191919;
    height: 100vh;
}

.bkimg {
    width: 450px;
    height: 550px;
    border-radius: 20px;
}

.fx {
    display: flex;
}

.service {
    background-color: black;
    height: 200vh;
}

.card {
    width: 300px;
    height: 400px;
    background-color: #191919;
    border-radius: 20px;
    margin: auto;
    align-items: center;
    text-align: center;
}

.blk {
    margin-top: 130px;
    background-color: #191919;
    height: 250px;
    text-align: center;
    align-items: center;
}

.button-24 {
    background: #F9004D;
    border: 1px solid #F9004D;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 16px;
    min-height: 60px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-top: 35px;
    width: 150px;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: white;
}

.button-24:active {
    opacity: .5;
}

.footer {
    align-items: center;
    text-align: center;
    margin-top: 70px;
    width: 50%;
}

.media {
    padding: 18px;
    border-radius: 50%;
    color: white;
    background-color: #F9004D;
    margin-right: 10px;
    margin-top: 20px;
}

a.nav-link {
    margin-right: 15px;
}

a.nav-link :hover {
    color: #F9004D;
}

.yes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
}

.no {
    color: white;
    text-decoration: none;
    padding: 9px;
    margin-right: 15px;
}

.no:hover {
    color: #F9004D;
    padding-bottom: 5px;
    border-bottom: white solid 1px;
    text-decoration: none;
}

.button-62 {
    background: linear-gradient(to bottom right, #EF4765, #F9004D);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-bottom: 8px;
    margin-right: 15px;
}

.button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}